@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

footer {
  flex-shrink: 0;
}

.no-select {
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none; 
}

.custom-bg{
  @apply min-h-screen bg-[url('/bg-squareDoodle.png')] bg-repeat md:bg-[length:33.33%_50%] bg-top
}
